* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/img1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 6rem;
  }

  .contain {
    background-color: #8a788a87;
    padding: 3rem;
    border-radius: 2rem;
    min-height: 65vh;
    width: 55vw;
  }

  .heading {
    font-family: 'pacifico';
    color: #fff;
    position: fixed;
    top: 5rem;
    font-size: 3rem;
    padding-top: 1rem;
    margin-left: 14rem;
  }

  hr {
    border-top: 1px solid black;
    width: 20vw;
    margin: 2rem;
    margin-left: 16rem;
  }
  
  .container {
   
    background-color: #e2dde9;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 35vh;
    width: 50vw;
    font-size: 1.5rem;
  }
  
  form {
    margin: 2rem 0 1rem 0;
  }
  
  form select,
  button,
  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
  }
  
  form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
  }
  
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .dropdown i {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  
  .select-container img {
    max-width: 2rem;
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  
  .select-container select {
    font-size: 1.5rem;
    width: 10rem;
  }
  
  .msg {
    position: fixed;
    font-size: 3rem;
    color: #fff;
    font-family: 'Amiri', serif;
    margin-left: 15rem;
  }
  
  form button {
    margin-top: 4rem;
    height: 3rem;
    background-color: #8a788a;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    body{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .heading {
    position: absolute;
    font-size: 30px;
    margin-left: 0rem;
  }

  hr {
		width: 60%;
    margin: 1rem;
    margin-left: 4rem;
	}

  .container {
    width: 10rem;
    padding-top: 0.5rem;
  }

  .dropdown{
    display: flex;
    flex-direction: column;
  }

  form button{
    margin-top: 2rem;
  }

  .msg {
    position: absolute;
    font-size: 25px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  }